// Force NVIDIA Card
debug {
    render-drm-device "/dev/dri/renderD128"
}

// Force Resolution
output "DP-10" {
    mode "7680x2160@59.987"
    position x=0 y=0
    focus-at-startup
}

output "Sharp Corporation 0x1517 Unknown" {
    layout {
        default-column-width {
            proportion 1.0
        }
    }
}

output "Dell Inc. DELL U3818DW 97F8P049063L" {
    position x=0 y=1600
    focus-at-startup

    hot-corners {
        off
    }
}

output "Dell Inc. DELL U3818DW 97F8P049060L" {
    position x=0 y=0
}

output "Dell Inc. DELL U3219Q 1HKL413" {
    transform "90"
    position x=3840 y=925

    hot-corners {
        off
    }

    layout {
        default-column-width {
            proportion 1.0
        }
    }
}

input {
    keyboard {
        xkb {
            options "compose:ralt,ctrl:nocaps"
        }

        numlock
    }

    touchpad {
        tap
        natural-scroll
    }
}

layout {
    empty-workspace-above-first

    gaps 40

    center-focused-column "never"
    always-center-single-column

    preset-column-widths {
        proportion 0.25
        proportion 0.5
    }

    preset-window-heights {
        proportion 0.5
        proportion 1.0
    }

    default-column-width {
        proportion 0.5
    }

    focus-ring {
        width 1
        active-gradient from="#CCCCCC66" to="#66666666" angle=180 relative-to="workspace-view"
    }

    shadow {
        on
        softness 30
        spread 10
        offset x=0 y=5
        color "#0007"
    }

    struts {
        left 0
        right 0
        top -30
        bottom 0
    }
}

workspace "reference" {
}

// Hide Help By Default
hotkey-overlay {
    skip-at-startup
}

// Hide Client-side Decorations
prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// Rounded Window Borders
window-rule {
    geometry-corner-radius 15
    clip-to-geometry true
}

// Wezterm
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {
        proportion 0.25
    }
    draw-border-with-background false
}

// Librewolf
window-rule {
    match app-id=r#"librewolf$"# title="^Picture-in-Picture$"
    open-floating true
}

// YouTube
window-rule {
    match app-id=r#"youtube.com"#
    open-on-output "Dell Inc. DELL U3219Q 1HKL413"

    default-window-height {
        fixed 925
    }

    focus-ring {
        off
    }

    border {
        on
        width 2
        active-color "#00000000"
        inactive-color "#00000000"
    }

    shadow {
        off
    }
}

// Hide Secrets From Screen Capture
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"
}

binds {
    // Show Help
    Mod+Shift+Slash {
        show-hotkey-overlay
    }

    // Application Hotkeys
    Mod+Return hotkey-overlay-title="Open a Terminal: wezterm" {
        spawn "wezterm"
    }
    Mod+Space hotkey-overlay-title="Run an Application" {
        //spawn "qs" "-c" "noctalia-shell" "ipc" "call" "launcher" "toggle"
        spawn "fuzzel"
    }
    Super+L hotkey-overlay-title="Lock the Screen" {
        spawn-sh "~/.config/niri/scripts/lock.sh"
    }

    // Volume Controls
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"
    }
    XF86AudioMute allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"
    }

    // Brightness Controls
    XF86MonBrightnessUp allow-when-locked=true {
        spawn "brightnessctl" "--class=backlight" "set" "+10%"
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn "brightnessctl" "--class=backlight" "set" "10%-"
    }

    // Load Overview
    Mod+Tab repeat=false {
        toggle-overview
    }

    // Close Window
    Mod+Q repeat=false {
        close-window
    }
    Mod+Shift+C repeat=false {
        close-window
    }

    // Focus Windows
    Mod+Left {
        focus-column-left
    }
    Mod+Down {
        focus-window-down
    }
    Mod+Up {
        focus-window-up
    }
    Mod+Right {
        focus-column-right
    }
    Mod+Home {
        focus-column-first
    }
    Mod+End {
        focus-column-last
    }

    Mod+Shift+Left {
        focus-monitor-left
    }
    Mod+Shift+Down {
        focus-monitor-down
    }
    Mod+Shift+Up {
        focus-monitor-up
    }
    Mod+Shift+Right {
        focus-monitor-right
    }

    // Move Windows
    Mod+Alt+Left {
        move-column-left
    }
    Mod+Alt+Down  {
        move-window-down-or-to-workspace-down
    }
    Mod+Alt+Up    {
        move-window-up-or-to-workspace-up
    }
    Mod+Alt+Right {
        move-column-right
    }
    Mod+Alt+Home {
        move-column-to-first
    }
    Mod+Alt+End {
        move-column-to-last
    }

    Mod+BracketLeft {
        consume-or-expel-window-left
    }
    Mod+BracketRight {
        consume-or-expel-window-right
    }

    Mod+Alt+1 {
        move-column-to-workspace 1
    }
    Mod+Alt+2 {
        move-column-to-workspace 2
    }
    Mod+Alt+3 {
        move-column-to-workspace 3
    }
    Mod+Alt+4 {
        move-column-to-workspace 4
    }
    Mod+Alt+5 {
        move-column-to-workspace 5
    }
    Mod+Alt+6 {
        move-column-to-workspace 6
    }
    Mod+Alt+7 {
        move-column-to-workspace 7
    }
    Mod+Alt+8 {
        move-column-to-workspace 8
    }
    Mod+Alt+9 {
        move-column-to-workspace 9
    }

    Mod+Shift+Ctrl+Left {
        move-column-to-monitor-left
    }
    Mod+Shift+Ctrl+Down {
        move-column-to-monitor-down
    }
    Mod+Shift+Ctrl+Up {
        move-column-to-monitor-up
    }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right
    }

    // Rearrange Workspaces
    Mod+Ctrl+Alt+Left {
        move-workspace-to-monitor-left
    }
    Mod+Ctrl+Alt+Down {
        move-workspace-to-monitor-down
    }
    Mod+Ctrl+Alt+Up {
        move-workspace-to-monitor-up
    }
    Mod+Ctrl+Alt+Right {
        move-workspace-to-monitor-right
    }

    Mod+Alt+Page_Down {
        move-workspace-down
    }
    Mod+Alt+Page_Up {
        move-workspace-up
    }

    // Switch Workspaces
    Mod+WheelScrollDown cooldown-ms=150 {
        focus-workspace-down
    }
    Mod+WheelScrollUp cooldown-ms=150 {
        focus-workspace-up
    }

    Mod+Ctrl+Down {
        focus-workspace-down
    }
    Mod+Ctrl+Right {
        focus-workspace-down
    }
    Mod+Ctrl+Up {
        focus-workspace-up
    }
    Mod+Ctrl+Left {
        focus-workspace-up
    }

    Mod+1 {
        focus-workspace 1
    }
    Mod+2 {
        focus-workspace 2
    }
    Mod+3 {
        focus-workspace 3
    }
    Mod+4 {
        focus-workspace 4
    }
    Mod+5 {
        focus-workspace 5
    }
    Mod+6 {
        focus-workspace 6
    }
    Mod+7 {
        focus-workspace 7
    }
    Mod+8 {
        focus-workspace 8
    }
    Mod+9 {
        focus-workspace 9
    }

    // Adjust Window Size
    Mod+R {
        switch-preset-column-width
    }

    Mod+Shift+R {
        switch-preset-window-height
    }
    Mod+Ctrl+R {
        reset-window-height
    }

    Mod+F {
        maximize-column
    }

    Mod+Shift+F {
        fullscreen-window
    }
    Mod+Ctrl+F {
        expand-column-to-available-width
    }

    Mod+Minus {
        set-column-width "-1%"
    }
    Mod+Equal {
        set-column-width "+1%"
    }

    Mod+Shift+Minus {
        set-window-height "-1%"
    }
    Mod+Shift+Equal {
        set-window-height "+1%"
    }

    // Center Windows
    Mod+C {
        center-column
    }
    Mod+Ctrl+C {
        center-visible-columns
    }

    // Floating Windows
    Mod+V {
        toggle-window-floating
    }
    Mod+Shift+V {
        switch-focus-between-floating-and-tiling
    }

    // Printscreen
    Print {
        screenshot
    }
    Ctrl+Print {
        screenshot-screen
    }
    Alt+Print {
        screenshot-window
    }
   
    // Escape Keyboard Capture
    Mod+Escape allow-inhibiting=false {
        toggle-keyboard-shortcuts-inhibit
    }

    // Exit Niri
    Mod+Shift+E {
        quit
    }
    Ctrl+Alt+Delete {
        quit
    }
}

// Spawn Shell
spawn-at-startup "qs" "-c" "noctalia-shell"
