[Desktop Entry]
NoDisplay=true
Name[af]=Musiek
Name[an]=Mosica
Name[ar]=موسيقى
Name[as]=সংগীত
Name[be]=Музыка
Name[bg]=Музика
Name[bs]=Muzika
Name[ca]=Música
Name[ca@valencia]=Música
Name[cs]=Hudba
Name[da]=Musik
Name[de]=Musik
Name[el]=Μουσική
Name[en_GB]=Music
Name[eo]=Muziko
Name[es]=Música
Name[et]=Muusika
Name[eu]=Musika
Name[fa]=آهنگ‌ها
Name[fi]=Musiikki
Name[fr]=Musique
Name[fur]=Musiche
Name[fy]=Music
Name[ga]=Ceol
Name[gd]=Ceòl
Name[gl]=Música
Name[he]=מוזיקה
Name[hr]=Glazba
Name[hu]=Zene
Name[id]=Musik
Name[is]=Tónlist
Name[it]=Musica
Name[ja]=ミュージック
Name[kk]=Музыка
Name[kn]=ಸಂಗೀತ 
Name[ko]=음악
Name[lt]=Muzika
Name[lv]=Mūzika
Name[mjw]=Lotun
Name[ml]=മ്യൂസിക്ക്
Name[ms]=Muzik
Name[nb]=Musikk
Name[ne]=सङ्गित
Name[nl]=Muziek
Name[oc]=Musica
Name[pa]=ਸੰਗੀਤ
Name[pl]=Muzyka
Name[pt]=Música
Name[pt_BR]=Música
Name[ro]=Muzică
Name[ru]=Музыка
Name[sk]=Hudba
Name[sl]=Glasba
Name[sr]=Музика
Name[sr@latin]=Muzika
Name[sv]=Musik
Name[ta]=இசை
Name[te]=సంగీతం
Name[tg]=Мусиқӣ
Name[tr]=Müzik
Name[uk]=Музика
Name[vi]=Nhạc
Name[zh_CN]=音乐
Name[zh_HK]=音樂
Name[zh_TW]=音樂
Name=Music
GenericName[af]=Musiekspeler
GenericName[an]=Reproductor de mosica
GenericName[ar]=مشغّل الموسيقى
GenericName[as]=সংগীত প্লেয়াৰ
GenericName[be]=Музычны прайгравальнік
GenericName[bg]=Изпълнение на музика
GenericName[bs]=Muzički program
GenericName[ca]=Reproductor de música
GenericName[ca@valencia]=Reproductor de música
GenericName[cs]=Hudební přehrávač
GenericName[da]=Musikafspiller
GenericName[de]=Musikwiedergabe
GenericName[el]=Αναπαραγωγή μουσικής
GenericName[en_GB]=Music Player
GenericName[eo]=Muzikludilo
GenericName[es]=Reproductor de música
GenericName[et]=Muusikamängija
GenericName[eu]=Musika-erreproduzitzailea
GenericName[fa]=پخش‌کنندهٔ آهنگ
GenericName[fi]=Musiikkisoitin
GenericName[fr]=Lecteur de musique
GenericName[fur]=Letôr musicâl
GenericName[fy]=Muzyk Spiler
GenericName[ga]=Seinnteoir Ceoil
GenericName[gd]=Cluicheadair ciùil
GenericName[gl]=Reprodutor de música
GenericName[he]=נגן מוזיקה
GenericName[hr]=Glazbeni svirač
GenericName[hu]=Zenelejátszó
GenericName[id]=Pemutar Musik
GenericName[is]=Tónlistarspilari
GenericName[it]=Riproduttore musicale
GenericName[ja]=音楽プレーヤー
GenericName[kk]=Музыка ойнатқышы
GenericName[kn]=ಸಂಗೀತ ಚಾಲಕ
GenericName[ko]=음악 재생기
GenericName[lt]=Muzikos grotuvas
GenericName[lv]=Mūzikas atskaņotājs
GenericName[ml]=മ്യൂസിക്ക് പ്ലേയര്‍
GenericName[ms]=Pemain Muzik
GenericName[nb]=Musikkavspiller
GenericName[ne]=सङ्गित बजाउने
GenericName[nl]=Muziekspeler
GenericName[oc]=Lector de musica
GenericName[pa]=ਸੰਗੀਤ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz muzyki
GenericName[pt]=Reprodutor de música
GenericName[pt_BR]=Reprodutor de músicas
GenericName[ro]=Player pentru muzică
GenericName[ru]=Музыкальный проигрыватель
GenericName[sk]=Prehrávač hudby
GenericName[sl]=Predvajalnik glasbe
GenericName[sr]=Програм за музику
GenericName[sr@latin]=Program za muziku
GenericName[sv]=Musikspelare
GenericName[ta]=இசைப்பான்
GenericName[te]=సంగీత ప్రదర్శకం
GenericName[tg]=Плеери мусиқӣ
GenericName[tr]=Müzik Çalar
GenericName[uk]=Програвач музики
GenericName[vi]=Bộ phát nhạc
GenericName[zh_CN]=音乐播放器
GenericName[zh_HK]=音樂播放器
GenericName[zh_TW]=音樂播放器
GenericName=Music Player
Comment[af]=Speel en organiseer u musiekversameling
Comment[an]=Reproducir y organizar a tuya colección de mosica
Comment[ar]=شغل ونظّم مجموعتك الموسيقية
Comment[as]=আপোনাৰ সংগীত সংগ্ৰহ বজাওক আৰু সংগঠিত কৰক
Comment[be]=Прайграванне і ўпарадкаванне музычнай калекцыі
Comment[bg]=Слушайте и организирайте колекцията си от музика
Comment[bs]=Izvodite i organizirajte svoju muzičku zbirku
Comment[ca]=Reproduïu i organitzeu la col·lecció de música
Comment[ca@valencia]=Reproduïu i organitzeu la col·lecció de música
Comment[cs]=Přehrávat a organizovat svou hudební sbírku
Comment[da]=Afspil og organisér din musiksamling
Comment[de]=Geben Sie Ihre Musik wieder und verwalten Sie Ihre Sammlung
Comment[el]=Αναπαράξτε και οργανώστε τη μουσική σας συλλογή
Comment[en_GB]=Play and organise your music collection
Comment[eo]=Ludu kaj organizu vian muzikaron
Comment[es]=Reproducir y organizar su colección de música
Comment[et]=Mängi ja halda oma muusikakogu
Comment[eu]=Erreproduzitu eta antolatu zure musika-bilduma
Comment[fa]=پخش و سازمان‌دهی مجموعه آهنگ‌هایتان
Comment[fi]=Toista ja hallitse musiikkikokoelmaasi
Comment[fr]=Jouer et organiser votre discothèque
Comment[fur]=Sune e organize le tô colezion di musichis
Comment[fy]=Spylje jo muzyk samling ôf en organisearje it
Comment[ga]=Seinn agus eagraigh do bhailiúchán ceoil
Comment[gd]=Cluich is cum rian air a’ chruinneachadh ciùil agad
Comment[gl]=Reproduce e organiza a súa colección de música
Comment[he]=לנגן ולארגן את אוסף המוזיקה שלך
Comment[hr]=Slušajte i organizirajte vašu glazbenu kolekciju
Comment[hu]=Zenegyűjtemény rendszerezése és lejátszása
Comment[id]=Putar dan tata koleksi musik Anda
Comment[is]=Spila og skipuleggja tónlistarsafnið þitt
Comment[it]=Riproduce e organizza la collezione musicale
Comment[ja]=音楽コレクションの再生と整理
Comment[kk]=Музыкалық жинағыңызды ойнау және реттеу
Comment[kn]=ನಿಮ್ಮ ಸಂಗ್ರಹದಿಂದ ಸಂಗೀತವನ್ನು ಆಲಿಸಿ ಮತ್ತು ವ್ಯವಸ್ಥಿವಾಗಿರಿಸಿಕೊಳ್ಳಿ
Comment[ko]=음악 모음을 재생하고 정리합니다
Comment[lt]=Groti ir tvarkyti muzikos kolekciją
Comment[lv]=Atskaņo un organizē savu mūzikas kolekciju
Comment[ml]=ഗാനശേഖരം ക്രമീകരിച്ച് പ്ലേ ചെയ്യുക
Comment[ms]=Main dan urus koleksi muzik anda
Comment[nb]=Spill av og organiser musikksamlingen din
Comment[nl]=Beluister en beheer uw muziekverzameling
Comment[oc]=Jogar e organizar vòstra discotèca
Comment[pa]=ਆਪਣੇ ਸੰਗੀਤ ਭੰਡਾਰ ਨੂੰ ਚਲਾਉ ਅਤੇ ਪਰਬੰਧ ਕਰੋ
Comment[pl]=Odtwarzanie i organizowanie kolekcji muzyki
Comment[pt]=Reproduz e organiza a sua coleção de música
Comment[pt_BR]=Reproduza e organize sua coleção de músicas
Comment[ro]=Redă și organizează colecția dumneavoastră de muzică
Comment[ru]=Воспроизведение и управление музыкальной коллекцией
Comment[sk]=Prehráva a organizuje vašu hudobnú zbierku
Comment[sl]=Predvajanje in upravljanje glasbene zbirke
Comment[sr]=Слушајте и уређујте музичку збирку
Comment[sr@latin]=Slušajte i uređujte muzičku zbirku
Comment[sv]=Spela och organisera din musiksamling
Comment[ta]=இசை தொகுப்பைப் பாடவும் நிர்வகிக்கவும்
Comment[te]=మీ సంగీత సేకరణను ప్రదర్శించి, నిర్వహించుకోండి
Comment[tg]=Коллексияи мусиқии худро мураттаб ва пахш кунед
Comment[tr]=Müzik derleminizi çalın ve yönetin
Comment[uk]=Грати та впорядковувати вашу музичну збірку
Comment[vi]=Phát nhạc và tổ chức các tập nhạc
Comment[zh_CN]=播放与管理您的音乐集
Comment[zh_HK]=播放與組織你的音樂收藏集
Comment[zh_TW]=播放與組織您的音樂收藏集
Comment=Play and organize your music collection
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Music
Exec=gnome-music
Terminal=false
Type=Application
Categories=GNOME;GTK;AudioVideo;Player;Audio;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[an]=Mosica;Reproductor;
Keywords[be]=Музыка;Музычны;Прайгравальнік;Плэер;
Keywords[bg]=музика;плеър;песни;слуша;music;player;
Keywords[bs]=Muzika;Plejer;
Keywords[ca]=Música;Reproductor;
Keywords[ca@valencia]=Música;Reproductor;
Keywords[cs]=hudba;muzika;přehrávač;
Keywords[da]=Musik;Afspiller;
Keywords[de]=Musik;Wiedergabe;
Keywords[el]=Μουσική;Αναπαραγωγή;Music;Player;
Keywords[en_GB]=Music;Player;
Keywords[eo]=Muziko;Ludilo;
Keywords[es]=Música;Reproductor;
Keywords[eu]=Musika;Erreproduzitzailea;
Keywords[fa]=Music;Player;پخش‌کننده‌;موزیک;آهنگ;
Keywords[fi]=Music;Player;Musiikkisoitin;Musiikki;
Keywords[fr]=musique;lecteur;
Keywords[fur]=Musiche;Riprodutôr;
Keywords[fy]=Muzyk;Spiler;
Keywords[gd]=Music;Player;ceòl;cluicheadair;inneal-cluich;
Keywords[gl]=Música;Reprodutor;
Keywords[he]=מוזיקה;מוסיקה;נגן;
Keywords[hr]=Glazba;Svirač;
Keywords[hu]=Zene;Lejátszó;
Keywords[id]=Pemutar;Musik;
Keywords[is]=Tónlist;spilari;
Keywords[it]=Musica;Riproduttore;
Keywords[ja]=Music;Player;音楽;楽曲;ミュージック;再生;プレーヤー;
Keywords[kk]=Music;Player;Музыка;Плеер;
Keywords[ko]=Music;음악;Player;재생기;
Keywords[lt]=Muzika;Grotuvas;
Keywords[lv]=Mūzika;Atskaņotājs;
Keywords[mjw]=Music;Player;
Keywords[ml]=മ്യൂസിക്ക്; പ്ലേയര്‍;
Keywords[ms]=Muzik;Pemain;
Keywords[nb]=Musikk;Spiller;
Keywords[nl]=Music;Player;Muziek;Speler;
Keywords[oc]=musica;lector de musica;
Keywords[pa]=ਸੰਗੀਤ;ਪਲੇਅਰ;
Keywords[pl]=Muzyka;Odtwarzacz;Dźwięk;Audio;Piosenka;Utwór;MP3;Ogg;Vorbis;FLAC;CD;Płyta;Playlista;Lista;odtwarzania;Last.fm;Lastfm;Jamendo;Magnatune;UPnP;DLNA;MPRIS;ReplayGain;
Keywords[pt]=Reprodutor;Música;
Keywords[pt_BR]=Música;Músicas;Music;Reprodutor;Tocador;Player;
Keywords[ro]=Music;Player;Muzică;Redare;
Keywords[ru]=Музыкальный;Проигрыватель;
Keywords[sk]=Hudba;Hudobný;Prehrávač;
Keywords[sl]=Glasba;Predvajalnik;Music;Albumi;izvajalci;skladbe;
Keywords[sr]=Music;Player;музика;пусти;пуштач;плејер;muzika;pusti;puštač;plejer;
Keywords[sr@latin]=muzika;pusti;puštač;plejer;muzika;pusti;puštač;plejer;Music;Player;
Keywords[sv]=Musik;Spelare;
Keywords[tg]=Мусиқӣ;Плеер;
Keywords[tr]=Müzik;Çalar;Çalıcı;
Keywords[uk]=Музика;Програвач;Плеєр;
Keywords[vi]=Music;Player;Nhạc;Phát nhạc;Nhac;Phat Nhac;
Keywords[zh_CN]=Music;Player;音乐;播放器;
Keywords[zh_TW]=Music;Player;音樂;播放器;
Keywords=Music;Player;
StartupNotify=true
