[Desktop Entry]
NoDisplay=true
Name[af]=Dokumente
Name[ar]=المستندات
Name[as]=দস্তাবেজসমূহ
Name[be]=Дакументы
Name[bg]=Документи
Name[bn_IN]=দস্তাবেজ
Name[bs]=Dokumenti
Name[ca]=Documents
Name[ca@valencia]=Documents
Name[ckb]=بەڵگەنامەکان
Name[cs]=Dokumenty
Name[da]=Dokumenter
Name[de]=Dokumente
Name[el]=Έγγραφα
Name[en_GB]=Documents
Name[eo]=Dokumentoj
Name[es]=Documentos
Name[et]=Dokumendid
Name[eu]=Dokumentuak
Name[fa]=سندها
Name[fi]=Asiakirjat
Name[fr]=Documents
Name[fur]=Documents
Name[ga]=Cáipéisí
Name[gl]=Documentos
Name[gu]=દસ્તાવેજો
Name[he]=מסמכים
Name[hi]=दस्तावेज़
Name[hr]=Dokumenti
Name[hu]=Dokumentumok
Name[id]=Dokumen
Name[is]=Skjöl
Name[it]=Documenti
Name[ja]=ドキュメント
Name[kk]=Құжаттар қолданбасы
Name[kn]=ದಸ್ತಾವೇಜುಗಳು
Name[ko]=문서
Name[ln]=Dokima
Name[lv]=Dokumenti
Name[lt]=Dokumentai
Name[mjw]=Documents
Name[mk]=Документи
Name[ml]=‍‍‍‍ഡോക്യുമെന്റ്സ്
Name[mr]=दस्तऐवज
Name[ms]=Dokumen
Name[nb]=Dokumenter
Name[ne]=कागजातहरू
Name[nl]=Documenten
Name[oc]=Documents
Name[or]=ଦଲିଲଗୁଡିକ
Name[pa]=ਡੌਕੂਮੈਂਟ
Name[pl]=Dokumenty
Name[pt]=Documentos
Name[pt_BR]=Documentos
Name[ro]=Documente
Name[ru]=Документы
Name[sk]=Dokumenty
Name[sl]=Dokumenti
Name[sr]=Документи
Name[sr@latin]=Dokumenti
Name[sv]=Dokument
Name[ta]=ஆவணங்கள்
Name[te]=పత్రాలు
Name[tg]=Ҳуҷҷатҳо
Name[th]=เอกสาร
Name[tr]=Belgeler
Name[uk]=Документи
Name[vi]=Tài liệu
Name[xh]=Amaxwebhu
Name[zh_CN]=文档
Name[zh_HK]=文件
Name[zh_TW]=文件
Name[ug]=پۈتۈكلەر
Name=Documents
Comment[af]=Vertoon, bestuur en deel dokumente
Comment[ar]=الوصول للمستندات وإدارتها ومشاركتها
Comment[as]=দস্তাবেজসমূহ অভিগম, ব্যৱস্থাপনা আৰু অংশীদাৰী কৰক
Comment[be]=Праца, кіраванне і супольны доступ да дакументаў
Comment[bg]=Преглед, управление и споделяне на документи
Comment[bn_IN]=দস্তাবেজ অ্যাক্সেস, পরিচালনা এবং শেয়ার করুন
Comment[bs]=Pristupajt, upravljajte i dijelite dokumente
Comment[ca]=Accediu, gestioneu i compartiu documents
Comment[ca@valencia]=Accediu, gestioneu i compartiu documents
Comment[cs]=Přístup k dokumentům, jejich správa a sdílení
Comment[da]=Tilgå, håndtér og del dokumenter
Comment[de]=Auf Dokumente zugreifen, diese verwalten und freigeben
Comment[el]=Προσεγγίστε, διαχειριστείτε και μοιραστείτε έγγραφα
Comment[en_GB]=Access, manage and share documents
Comment[eo]=Aliri, mastrumi kaj kunhavigi dokumentojn
Comment[es]=Acceder, gestionar y compartir documentos
Comment[et]=Dokumentide haldus ja jagamine
Comment[eu]=Atzitu, kudeatu eta partekatu dokumentuak
Comment[fa]=دسترسی، مدیریت و اشتراک‌گذاری سندها
Comment[fi]=Käytä, hallitse ja jaa asiakirjoja
Comment[fr]=Accéder à, gérer et partager des documents
Comment[fur]=Acès, ministre e condivît documents
Comment[ga]=Déan rochtain ar, bainistigh agus comhroinn cáipéisí
Comment[gl]=Acceder, xestionar e compartir documentos
Comment[gu]=દસ્તાવેજોને વાપરો, સંચાલિત અને વહેંચો
Comment[he]=גישה, ניהול ושיתוף של מסמכים
Comment[hi]=दस्तावेज का अभिगम, प्रबंधन और साझा करता है
Comment[hr]=Pristup, upravljanje i dijeljenje dokumenata
Comment[hu]=Dokumentumok elérése, kezelése és megosztása
Comment[id]=Akses, kelola, dan berbagi dokumen
Comment[is]=Lesa, deila og sýsla með skjöl
Comment[it]=Accede, gestisce e condivide documenti
Comment[ja]=ドキュメントを開く、管理する、そして共有する
Comment[kk]=Құжаттарға қатынау, басқару және олармен бөлісу
Comment[kn]=ದಸ್ತಾವೇಜುಗಳನ್ನು ನಿಲುಕಿಸಿಕೊಳ್ಳಿ, ವ್ಯವಸ್ಥಾಪಿಸಿ ಮತ್ತು ಹಂಚಿಕೊಳ್ಳಿ
Comment[ko]=문서를 접근, 관리하고 공유합니다
Comment[ln]=Yingela, Yangela mpe kabola ba dokima
Comment[lv]=Piekļūt dokumentiem, pārvaldīt un koplietot tos
Comment[lt]=Prieikite, tvarkykite ir bendrinkite dokumentus
Comment[mk]=Пристапи, менаџирај и споделувај документи
Comment[ml]=ആധാരങ്ങലിലേയ്ക്ക് പ്രവേശിക്കുക, കൈകാര്യംചെയ്യുക, പങ്കിടുക
Comment[mr]=दस्तऐवजकरीता प्रवेश, व्यवस्थापन व एकत्र वापर
Comment[ms]=Capai, urus dan kongsi dokumen
Comment[nb]=Aksesser, håndter og del dokumenter
Comment[ne]=कागजात पहुँच, व्यवस्थापन र साझेदारी गर्नुहोस्
Comment[nl]=Documenten gebruiken, beheren en delen
Comment[oc]=Accedir a, gerir e partejar de documents
Comment[or]=ଦଲିଲଗୁଡ଼ିକୁ ଅଭିଗମ୍ୟ କରନ୍ତୁ, ପରିଚାଳନା କରନ୍ତୁ ଏବଂ ସହଭାଗ କରନ୍ତୁ
Comment[pa]=ਡੌਕੂਮੈਂਟ ਵਰਤੋਂ, ਪਰਬੰਧ ਕਰੋ ਅਤੇ ਸਾਂਝੇ ਕਰੋ
Comment[pl]=Dostęp, zarządzanie i udostępnianie dokumentów
Comment[pt]=Aceder, gerir e partilhar documentos
Comment[pt_BR]=Acesse, gerencie e compartilhe documentos
Comment[ro]=Accesează, administrează și partajează documente
Comment[ru]=Управление и предоставление доступа к документам
Comment[sk]=Pristupovať, spravovať a sprístupňovať dokumenty
Comment[sl]=Upravljanje, dostop in souporaba dokumentov
Comment[sr]=Приступите, управљајте и делите документе
Comment[sr@latin]=Pristupite, upravljajte i delite dokumente
Comment[sv]=Kom åt, hantera och dela dokument
Comment[ta]=ஆவணங்களை அணுகு, மேலாளு, பகிர்
Comment[te]=పత్రాలను వాడుకోండి, నిర్వహించండి మరియు పంచుకోండి
Comment[th]=เข้าถึง จัดการ และแบ่งปันเอกสาร
Comment[tr]=Belgelerinize erişin, yönetin ve paylaşın
Comment[uk]=Доступ, впорядкування і оприлюднення документів
Comment[vi]=Truy cập, quản lý và chia sẻ tài liệu
Comment[xh]=Ngena, lawula kwaye wabelane ngamaxwebhu
Comment[zh_CN]=访问、管理以及分享文档
Comment[zh_HK]=存取、管理、分享文件
Comment[zh_TW]=存取、管理、分享文件
Comment[ug]=پۈتۈكلەرنى زىيارەت قىلىدۇ، باشقۇرىدۇ ۋە ھەمبەھىر قىلىدۇ
Comment=Access, manage and share documents
Exec=gnome-documents
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Documents
Terminal=false
Type=Application
StartupNotify=true
DBusActivatable=true
OnlyShowIn=GNOME;
Categories=GNOME;GTK;Utility;Core;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=PDF;Dokument;
Keywords[ar]=مستندات;المستندات;PDF;
Keywords[as]=দস্তাবেজসমূহ;PDF;দস্তাবেজ;
Keywords[be]=Дакументы;PDF;
Keywords[bg]=Документи;PDF;Документ;Docs;PDF;Document;
Keywords[bn_IN]=Docs;PDF;Document;
Keywords[bs]=Docs;PDF;Dokument;
Keywords[ca]=Documents;PDF;Document;
Keywords[ca@valencia]=Documents;PDF;Document;
Keywords[cs]=PDF;Dokument;
Keywords[da]=Docs;PDF;Dokument;
Keywords[de]=PDF;Dokumente;
Keywords[el]=Έγγραφα;PDF;Έγγραφο;Docs;Document;
Keywords[en_GB]=Docs;PDF;Document;
Keywords[eo]=Dok-oj;PDF;Dokumento;
Keywords[es]=Documentos;PDF;OneDrive;
Keywords[et]=Dokumendid;Dokument;PDF;
Keywords[eu]=Dokumentuak;PDF;Dokumentua;
Keywords[fa]=Docs;PDF;سند;
Keywords[fi]=Asiakirjat;PDF;asiakirja;dokumentti;dokumentit;Docs;Document;
Keywords[fr]=Doc;Documents;PDF;
Keywords[fur]=Docs;PDF;Document;
Keywords[ga]=PDF;Cáipéis;
Keywords[gl]=Documentos;PDF;Documento;
Keywords[gu]=Docs;PDF;દસ્તાવેજ;
Keywords[he]=מסמכים;PDF;מסמך;
Keywords[hi]=डॉक्स;पीडीएफ;दस्तावेज़;
Keywords[hr]=Dokumenti;PDF;Dokument;
Keywords[hu]=Dokumentum;PDF;Doksi;
Keywords[id]=Dok;PDF;Dokumen;
Keywords[is]=Skjal;Skjöl;PDF;
Keywords[it]=documenti;documento;PDF;Doc;
Keywords[ja]=Docs;PDF;Document;文書;ドキュメント;
Keywords[kk]=Құжаттар;PDF;Құжат;
Keywords[kn]=Docs;PDF;ದಸ್ತಾವೇಜು;
Keywords[ko]=Docs;닥스;PDF;Document;문서;
Keywords[ln]=Docs;PDF;Dokima;
Keywords[lv]=Dokuments;PDF;
Keywords[lt]=Dokumentai;PDF;Dokumentas;
Keywords[mjw]=Docs;PDF;Document;
Keywords[ml]=Docs;PDF;Document;
Keywords[mr]=डॉक्स;PDF;दस्तऐवज;
Keywords[ms]=Doc;PDF;Dokumen;
Keywords[nb]=Dokumentasjon;PDF;Dokument;
Keywords[ne]=Docs;PDF;Document;
Keywords[nl]=Docs;PDF;Document;
Keywords[oc]=Doc;Documents;PDF;
Keywords[or]=ଦଲିଲ;PDF;ଦଲିଲ;
Keywords[pa]=ਡੌਕੂਮੈਂਟ;PDF,ਦਸਤਾਵੇਜ਼;
Keywords[pl]=Docs;PDF;Dokument;
Keywords[pt]=Documento;PDF;Docs;
Keywords[pt_BR]=Docs;PDF;Documento;Documentos;
Keywords[ro]=Docs;PDF;Document;Documente;
Keywords[ru]=Документы;PDF;Документ;
Keywords[sk]=Dokumenty;PDF;Dokument;
Keywords[sl]=Doc;PDF;Dokumenti;Word;
Keywords[sr]=документација;пдф;документ;
Keywords[sr@latin]=dokumentacija;pdf;dokument;
Keywords[sv]=Dok;PDF;Dokument;
Keywords[ta]=டாக்ஸ்;பிடிஎஃப்;ஆவணங்கள்;
Keywords[te]=పత్రాలు;పిడియఫ్;పత్రం;
Keywords[th]=Docs;PDF;เอกสาร;
Keywords[tr]=Dokümanlar;PDF;Belgeler;
Keywords[uk]=Доки;PDF;Документ;
Keywords[vi]=Docs;Tài liệu;Tai lieu;PDF;Document;
Keywords[zh_CN]=Docs;PDF;Document;文件;文档;
Keywords[zh_HK]=文件;PDF;Docs;Document;
Keywords[zh_TW]=文件;PDF;Docs;Document;
Keywords[ug]=Docs;PDF;پۈتۈك;
Keywords=Docs;PDF;Document;
