[Desktop Entry]
NoDisplay=true
Name[an]=Fotos
Name[ar]=الصور
Name[as]=ফ'টোসমূহ
Name[bg]=Снимки
Name[bs]=Fotografije
Name[ca]=Fotografies
Name[ca@valencia]=Fotografies
Name[ckb]=وێنەکان
Name[cs]=Fotky
Name[da]=Billeder
Name[de]=Fotos
Name[el]=Φωτογραφίες
Name[en_GB]=Photos
Name[eo]=Fotoj
Name[es]=Fotos
Name[et]=Fotod
Name[eu]=Argazkiak
Name[fa]=عکس‌ها
Name[fi]=Kuvat
Name[fr]=Photos
Name[fur]=Fotos
Name[ga]=Grianghraif
Name[gd]=Dealbhan
Name[gl]=Fotos
Name[gu]=ફોટાઓ
Name[he]=תמונות
Name[hr]=Fotografije
Name[hu]=Fényképek
Name[is]=Ljósmyndir
Name[it]=Foto
Name[id]=Foto
Name[ja]=写真
Name[kk]=Фотолар
Name[kn]=ಫೋಟೋಸ್
Name[ko]=사진
Name[lt]=Nuotraukos
Name[lv]=Fotogrāfijas
Name[mjw]=Arjan
Name[ml]=ചിത്രങ്ങള്‍
Name[ms]=Foto
Name[nb]=Bilder
Name[ne]=फोटो
Name[nl]=Foto’s
Name[oc]=Fòtos
Name[pa]=ਫ਼ੋਟੋ
Name[pl]=Zdjęcia
Name[pt]=Fotos
Name[pt_BR]=Fotos
Name[ro]=Fotografii
Name[ru]=Фотографии
Name[sk]=Fotografie
Name[sl]=Fotografije
Name[sr]=Фотографије
Name[sr@latin]=Fotografije
Name[sv]=Foton
Name[te]=ఛాయాచిత్రాలు
Name[tg]=Суратҳо
Name[tr]=Fotoğraflar
Name[uk]=Світлини
Name[vi]=Ảnh
Name[zh_CN]=照片
Name[zh_HK]=相片
Name[zh_TW]=相片
Name=Photos
Comment[an]=Accedir, organizar y compartir fotos
Comment[ar]=اعرض و نظّم و شارك الصور
Comment[as]=ফ'টোসমূহ অভিগম, সংঘঠিত আৰু অংশীদাৰী কৰক
Comment[bg]=Преглед, организиране и споделяне на снимки
Comment[bs]=Pristupite,organizujte i podjelite slike
Comment[ca]=Accediu, gestioneu i compartiu fotografies
Comment[ca@valencia]=Accediu, gestioneu i compartiu fotografies
Comment[cs]=Zobrazovat, třídit a sdílet fotografie
Comment[da]=Tilgå, organisér og del billeder
Comment[de]=Auf Fotos zugreifen, diese verwalten und freigeben
Comment[el]=Προσπελάστε, οργανώστε και μοιραστείτε τις φωτογραφίες σας
Comment[en_GB]=Access, organise and share photos
Comment[eo]=Aliri, administri kaj kunhavigi fotojn
Comment[es]=Acceder, organizar y compartir fotos
Comment[et]=Fotode vaatamine, haldus ja jagamine
Comment[eu]=Atzitu, antolatu eta partekatu argazkiak
Comment[fa]=به عکس‌ها دسترسی داشته، مرتب و هم‌رسانی کنید
Comment[fi]=Hallitse, järjestä ja jaa kuviasi
Comment[fr]=Accéder à, organiser et partager des photos
Comment[fur]=Dopre, ministre e condivît fotos
Comment[ga]=Déan rochtain ar, eagraigh, agus comhroinn grianghraif
Comment[gd]=Dealbhan inntrigeadh, a chur an rian ’s a cho-roinneadh
Comment[gl]=Acceder, organizar e compartir fotos
Comment[gu]=ફોટાઓ દાખલ કરો, ગોઠવો અને શૅર કરો
Comment[he]=לגשת, לארגן ולשתף תמונות
Comment[hr]=Pristupite, organizirajte i dijelite fotografije
Comment[hu]=Fényképek elérése, rendszerezése és megosztása
Comment[is]=Skipuleggja, njóta og deila myndunum þínum
Comment[it]=Accede, organizza e condivide foto
Comment[id]=Mengakses, menata, dan berbagi foto
Comment[ja]=写真の表示、整理、共有を行います
Comment[kk]=Фотоларға қатынау, реттеу және олармен бөлісу
Comment[ko]=사진을 접근하고, 정리하고 공유하세요
Comment[lt]=Prieikite, tvarkykite ir dalinkitės savo nuotraukomis
Comment[lv]=Piekļūstiet, organizējiet, dalieties ar fotogrāfijām
Comment[ml]=ചിത്രങ്ങൾ അക്സസ്സ് ചെയ്യുക,ചിട്ടപ്പെടുത്തുക,പങ്കിടുക
Comment[ms]=Capai, urus dan kongsi foto-foto
Comment[nb]=Se på, organiser og del bilder
Comment[ne]=फोटोहरू पहुँच, सङ्गठित र साझेदारी गर्नुहोस्
Comment[nl]=Foto’s bekijken, beheren en delen
Comment[oc]=Accedir, organizar e partejar de fòtos
Comment[pa]=ਫ਼ੋਟੋ ਵਰਤੋਂ, ਪਰਬੰਧ ਕਰੋ ਅਤੇ ਸਾਂਝੀਆਂ ਕਰੋ
Comment[pl]=Oglądanie, organizowanie i udostępnianie zdjęć
Comment[pt]=Aceder, organizar e partilhar fotos
Comment[pt_BR]=Acesse, organize e compartilhe fotos
Comment[ro]=Accesați, organizați și partajați fotografii
Comment[ru]=Доступ, управление и обмен фотографиями
Comment[sk]=Pristupuje, organizuje a sprístupňuje fotografie
Comment[sl]=Urejanje in izmenjava fotografij.
Comment[sr]=Приступите, разврстајте и делите фотографије
Comment[sr@latin]=Pristupite, razvrstajte i delite fotografije
Comment[sv]=Visa, organisera och dela foton
Comment[te]=ఛాయాచిత్రాలను ప్రాప్యించండి, నిర్వహించుకోండి, పంచుకోండి.
Comment[tg]=Ба суратҳо дастрасӣ пайдо кунед, онҳоро мураттаб ва мубодила кунед
Comment[tr]=Fotoğraflara erişin, yönetin ve paylaşın
Comment[uk]=Доступатись, упорядковувати і ділитись фотографіями
Comment[vi]=Truy cập, tổ chức và chia sẻ ảnh
Comment[zh_CN]=访问、管理并分享您的照片
Comment[zh_HK]=存取、管理、分享相片
Comment[zh_TW]=存取、管理、分享相片
Comment=Access, organize and share photos
Exec=gnome-photos
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Photos
DBusActivatable=true
StartupNotify=true
Terminal=false
Type=Application
OnlyShowIn=GNOME;
Categories=GNOME;GTK;Core;Graphics;Photography;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[an]=Fotos;Imachens;
Keywords[ar]=صورة;صور;
Keywords[as]=ফ'টোসমূহ;ছবিসমূহ;
Keywords[bg]=Снимки;Изображения;Photos;Pictures;
Keywords[bs]=Fotogradije;Slike;
Keywords[ca]=Fotografies;Imatges;
Keywords[ca@valencia]=Fotografies;Imatges;
Keywords[cs]=fotografie;fotka;fotky;snímek;snímky;obrázek;obrázky;
Keywords[da]=Billeder;Fotografier;
Keywords[de]=Fotos;Bilder;
Keywords[el]=Φωτογραφίες;Εικόνες;Photos;Pictures;
Keywords[en_GB]=Photos;Pictures;
Keywords[eo]=Fotoj;Bildoj;
Keywords[es]=Fotos;Imágenes;
Keywords[et]=Fotod;Pildid;Pilt;
Keywords[eu]=Argazkiak;Irudiak;
Keywords[fa]=عکس;تصاویر;تصویر;Photos;Pictures;
Keywords[fi]=Photos;Pictures;Valokuvat;Kuvat;
Keywords[fr]=photos;images;
Keywords[fur]=Fotos;Imagjins;
Keywords[ga]=Grianghraif;Pictiúir;
Keywords[gd]=Photos;Pictures;dealbhan;delabh;dealbhan-camara;
Keywords[gl]=Fotos;Imaxes;
Keywords[gu]=ફોટાઓ;ચિત્રો;
Keywords[he]=תמונות;תצלומים;צילומים;
Keywords[hr]=Fotografije;Slike;
Keywords[hu]=Fényképek;Képek;
Keywords[is]=Myndir;ljósmyndir;
Keywords[it]=Foto;Immagini;
Keywords[id]=Foto;Gambar;
Keywords[ja]=Photos;Pictures;写真;フォト;絵;画像;
Keywords[kk]=Photos;Pictures;Фотолар;Суреттер;
Keywords[kn]=ಫೋಟೋಗಳು;ಚಿತ್ರಗಳು;
Keywords[ko]=Photos;사진;Pictures;그림;
Keywords[lt]=Nuotraukos;Paveikslėliai;
Keywords[lv]=Attēli;Fotogrāfijas;
Keywords[mjw]=Photos;Pictures;
Keywords[ml]=Photos;Pictures;
Keywords[ms]=Foto;Gambar;
Keywords[nb]=Foto;Bilder;
Keywords[ne]=फोटो;तस्विर;
Keywords[nl]=Photos;Pictures;Foto’s;Afbeeldingen;Foto's;
Keywords[oc]=Photos;fòtos;imatges;fotografia;
Keywords[pa]=ਫ਼ੋਟੋ;ਤਸਵੀਰਾਂ;
Keywords[pl]=Zdjęcia;Zdjęcie;Fotografia;Fotografie;Obrazy;Obraz;Obrazki;Obrazek;Retuszowanie;
Keywords[pt]=Fotografias;Imagens;Fotos;
Keywords[pt_BR]=Foto;Fotos;Imagem;Imagens;foto;imagem;fotos;imagens;
Keywords[ro]=Photos;Pictures;Poze;Fotografii;
Keywords[ru]=фотографии;картинки;изображения;
Keywords[sk]=Fotografie;Obrázky;
Keywords[sl]=Fotografije; Slike;Photo;
Keywords[sr]=Photos;Pictures;фотографије;слике;fotografije;slike;
Keywords[sr@latin]=Photos;Pictures;fotografije;slike;fotografije;slike;
Keywords[sv]=Foton;Bilder;
Keywords[te]=ఛాయాచిత్రాలు, చిత్రాలు;
Keywords[tg]=Суратҳо;Тасвирҳо;
Keywords[tr]=Fotoğraflar;Resimler;Fotolar;
Keywords[uk]=Світлини;Фотографії;
Keywords[vi]=Photos;Pictures;Ảnh;anh;
Keywords[zh_CN]=Photos;Pictures;照片;相片;图片;
Keywords[zh_HK]=Photos;Pictures;相片;照片;
Keywords[zh_TW]=Photos;Pictures;相片;照片;
Keywords=Photos;Pictures;
