[Desktop Entry]
NoDisplay=true
Name[af]=Boeke
Name[ar]=الكتب
Name[be]=Кнігі
Name[bg]=Книги
Name[bs]=Knjige
Name[ca]=Llibres
Name[ca@valencia]=Llibres
Name[ckb]=Books
Name[cs]=Knihy
Name[da]=Bøger
Name[de]=Bücher
Name[el]=Βιβλία
Name[en_GB]=Books
Name[eo]=Libroj
Name[es]=Libros
Name[eu]=Liburuak
Name[fa]=کتاب‌ها
Name[fi]=Kirjat
Name[fr]=Livres
Name[fur]=Libris
Name[ga]=Leabhair
Name[gl]=Libros
Name[he]=ספרים
Name[hr]=Knjige
Name[hu]=Könyvek
Name[id]=Buku
Name[is]=Rafbækur
Name[it]=Libri
Name[ja]=ブック
Name[kk]=Кітаптар
Name[ko]=책
Name[ln]=Buku
Name[lv]=Grāmatas
Name[lt]=Knygos
Name[ml]=പുസ്തകങ്ങള്‍
Name[ms]=Buku
Name[nb]=Bøker
Name[ne]=किताबहरू
Name[nl]=Boeken
Name[oc]=Libres
Name[pa]=ਕਿਤਾਬਾਂ
Name[pl]=Książki
Name[pt]=Livros
Name[pt_BR]=Livros
Name[ro]=Cărți
Name[ru]=Книги
Name[sk]=Knihy
Name[sl]=Knjige
Name[sr]=Књиге
Name[sr@latin]=Knjige
Name[sv]=Böcker
Name[th]=หนังสือ
Name[tr]=Kitaplar
Name[uk]=Книги
Name[vi]=Sách
Name[zh_CN]=图书
Name[zh_TW]=書籍
Name=Books
Comment[af]=Vertoon, bestuur en deel boeke
Comment[ar]=الوصول إلى الكتب و إدارتها و مشاركتها
Comment[be]=Праца, кіраванне і супольны доступ да кніг
Comment[bg]=Преглед, управление и споделяне на е-книги
Comment[bs]=Pristupajte, upravljajte i dijelite knjige
Comment[ca]=Accediu, gestioneu i compartiu llibres electrònics
Comment[ca@valencia]=Accediu, gestioneu i compartiu llibres electrònics
Comment[ckb]=چوونەناو، ڕێکخستنی و بڵاوکردنەوەی پەرتووک
Comment[cs]=Přístup ke knihám, jejich správa a sdílení
Comment[da]=Tilgå, håndtér og del bøger
Comment[de]=Auf E-Bücher zugreifen, diese verwalten und freigeben
Comment[el]=Προσεγγίστε, διαχειριστείτε και μοιραστείτε βιβλία
Comment[en_GB]=Access, manage and share books
Comment[eo]=Aliri, mastrumi kaj kunhavigi librojn
Comment[es]=Acceder, gestionar y compartir libros
Comment[eu]=Atzitu, kudeatu eta partekatu dokumentuak
Comment[fa]=دسترسی، مدیریت و هم‌رسانی کتاب‌ها
Comment[fi]=Käytä, hallitse ja jaa kirjoja
Comment[fr]=Accéder à, gérer et partager des livres
Comment[fur]=Dopre, ministre e condivît libris
Comment[ga]=Déan rochtain ar, bainistigh agus comhroinn leabhair
Comment[gl]=Acceder, xestionar e compartir libros
Comment[he]=גישה, ניהול ושיתוף ספרים
Comment[hr]=Pristup, upravljanje i dijeljenje e-knjiga
Comment[hu]=Könyvek elérése, kezelése és megosztása
Comment[id]=Akses, kelola, dan berbagi buku
Comment[is]=Lesa, deila og sýsla með bækur
Comment[it]=Accede, gestisce e condivide libri
Comment[ja]=書籍を開く、管理する、そして共有する
Comment[kk]=Кітаптарға қатынау, басқару және олармен бөлісу
Comment[ko]=책을 살펴보고, 관리하고, 공유합니다
Comment[ln]=Yíngela na, yangela mpe kabola ba buku
Comment[lv]=Piekļūt, pārvaldīt un koplietot e-grāmatas
Comment[lt]=Prieikite, tvarkykite ir bendrinkite knygas
Comment[ml]=പുസ്തകങ്ങളിലേയ്ക്ക് പ്രവേശിക്കുക, കൈകാര്യംചെയ്യുക, പങ്കിടുക
Comment[ms]=Capai, urus dan kongsi buku
Comment[nb]=Aksesser, håndter og del bøker
Comment[nl]=E-boeken openen, beheren en delen
Comment[oc]=Accedir a, gerir e partejar de libres
Comment[pa]=ਕਿਤਾਬਾਂ ਨੂੰ ਵਰਤੋਂ, ਪਰਬੰਧ ਕਰੋ ਅਤੇ ਸਾਂਝੀਆਂ ਕਰੋ
Comment[pl]=Czytanie, zarządzanie i udostępnianie książek
Comment[pt]=Aceder, gerir e partilhar livros
Comment[pt_BR]=Acesse, gerencie e compartilhe livros
Comment[ro]=Accesează, administrează și partajează cărți
Comment[ru]=Управление книгами и предоставление к ним доступа
Comment[sk]=Pristupovať, spravovať a sprístupňovať knihy
Comment[sl]=Upravljanje, dostop in souporaba elektronskih knjig
Comment[sr]=Приступите, управљајте и делите књиге
Comment[sr@latin]=Pristupite, upravljajte i delite knjige
Comment[sv]=Kom åt, hantera och dela böcker
Comment[th]=เข้าถึง จัดการ และแบ่งปันหนังสือ
Comment[tr]=Kitaplara erişin, yönetin ve paylaşın
Comment[uk]=Доступ, впорядкування і оприлюднення книг
Comment[vi]=Truy cập, quản lý và chia sẻ sách điện tử
Comment[zh_CN]=访问、管理以及分享图书
Comment[zh_TW]=存取、管理、分享書籍
Comment=Access, manage and share books
Exec=gnome-books
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Books
Terminal=false
Type=Application
StartupNotify=true
DBusActivatable=true
Categories=GNOME;GTK;Utility;Core;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=Boeke;Strokiesprente;ePub;PDF;
Keywords[ar]=كتب;كتب مصورة;ePub;PDF;
Keywords[be]=Кнігі;Коміксы;ePub;PDF;
Keywords[bg]=книги;комикси;документи;books;comics;epub;pdf;
Keywords[bs]=Knjige;Stripovi;ePub;PDF;
Keywords[ca]=Llibres;Còmics;ePub;PDF;
Keywords[ca@valencia]=Llibres;Còmics;ePub;PDF;
Keywords[cs]=knihy;komiks;ePub;PDF;
Keywords[da]=Bøger;Tegneserier;ePub;PDF;
Keywords[de]=Bücher;Comics;EPUB;PDF;
Keywords[el]=Books;Comics;ePub;PDF;βιβλία;κόμικ;
Keywords[en_GB]=Books;Comics;ePub;PDF;
Keywords[eo]=Libroj;Komiksoj;ePub;PDF;
Keywords[es]=Libros;Cómics;ePub;PDF;
Keywords[eu]=Liburuak;Komikiak;ePub;PDF;
Keywords[fa]=Books;Comics;ePub;PDF;کتاب;کمیک;
Keywords[fi]=Books;Comics;ePub;PDF;Kirjat;Sarjakuvat;Sarjikset;Dokumentit;Asiakirjat;Sähkökirjat;
Keywords[fr]=livres;livres numériques;bandes dessinées;ePub;PDF;
Keywords[fur]=Libris;Fumets;ePub;PDF;
Keywords[ga]=Leabhair;Coimicí;ePub;PDF;
Keywords[gl]=Libros;Banda deseñada;ePub;PDF;
Keywords[he]=ספרים;קומיקסים;ePub;PDF;ספרים אלקרטוניים;ספר אלקטרוני;
Keywords[hr]=Knjige;Stripovi;eObj;PDF;
Keywords[hu]=Könyvek;Képregény;ePub;PDF;
Keywords[id]=Buku;Komik;ePub;PDF;
Keywords[is]=Bækur;Myndasögur;rafbækur;ePub;PDF;
Keywords[it]=libri;fumetti;ePub;PDF;
Keywords[ja]=Books;Comics;ePub;PDF;電子書籍;電子ブック;ブック;コミック;
Keywords[kk]=Books;Comics;ePub;PDF;Кітаптар;комикстер;
Keywords[ko]=Books;책;Comics;만화;ePub;전자출판;PDF;
Keywords[ln]=Buku; buku nimeriki;Bandi ya koyema;ePub;PDF;
Keywords[lv]=Grāmatas;Komiksi;ePub;PDF;
Keywords[lt]=Knygos;Komiksai;ePub;PDF;
Keywords[ml]=പുസ്തകങ്ങള്‍;ചിത്രകഥകള്‍;ഇ-പബ്ബ്;പിഡിഎഫ്;
Keywords[ms]=Buku;Komik;ePub;PDF;
Keywords[nb]=Bøker;Tegneserier;ePub;PDF;
Keywords[nl]=Books;Boeken;Comics;Strips;ePub;PDF;
Keywords[oc]=libres;libres numerics;bendas dessenhadas;ePub;PDF;
Keywords[pa]=ਕਿਤਾਬਾਂ;ਕੌਮਿਕਸ;ePub;PDF;ਈ-ਪਬ;ਪੀਡੀਐਫ;
Keywords[pl]=Książki;Komiksy;Manga;ePub;PDF;e-booki;ebooki;ebuki;
Keywords[pt]=Livros;Banda;ePub;PDF;
Keywords[pt_BR]=Livros;Books;Quadrinhos;Comics;ePub;PDF;
Keywords[ro]=Books;Comics;ePub;PDF;Carte;Cărți;Cărți electronice;Benzi desenate;
Keywords[ru]=Книги;Комиксы;ePub;PDF;
Keywords[sk]=knihy;komiks;ePub;PDF;
Keywords[sl]=Knjige;Stripi;Elektronsko;ePub;PDF;comics;books;
Keywords[sr]=Books;Comics;ePub;PDF;књиге;стрипови;еПуб;ПДФ;е-књиге;ел. књиге;knjige;stripovi;e-knjige;el. knjige;
Keywords[sr@latin]=Books;Comics;ePub;PDF;knjige;stripovi;ePub;PDF;e-knjige;el. knjige;knjige;stripovi;e-knjige;el. knjige;
Keywords[sv]=Böcker;Comics;Serietidningar;ePub;PDF;
Keywords[th]=หนังสือ;การ์ตูน;ePub;PDF;
Keywords[tr]=Kitaplar;Çizgi Romanlar;ePub;PDF;
Keywords[uk]=Книги;Комікси;ePub;PDF;
Keywords[vi]=Books;sách;điện;tử;Comics;ePub;PDF;
Keywords[zh_CN]=Books;Comics;ePub;PDF;图书;漫画;
Keywords[zh_TW]=Books;Comics;ePub;PDF;書籍;漫畫;電子書;書本;圖書;
Keywords=Books;Comics;ePub;PDF;
