[Desktop Entry]
NoDisplay=true
Type=Application
Name[af]=Weer
Name[an]=Orache
Name[ar]=الطقس
Name[as]=বতৰ
Name[be]=Надвор'е
Name[bg]=Прогноза
Name[bn_IN]=আবহাওয়া
Name[bs]=Vrijeme
Name[ca]=Meteorologia
Name[ca@valencia]=Meteorologia
Name[ckb]=کەش و هەوا
Name[cs]=Počasí
Name[da]=Vejr
Name[de]=Wetter
Name[el]=Καιρός
Name[en_GB]=Weather
Name[eo]=Vetero
Name[es]=Meteorología
Name[et]=Ilm
Name[eu]=Eguraldia
Name[fa]=آب‌وهوا
Name[fi]=Sää
Name[fr]=Météo
Name[fur]=Meteo
Name[fy]=Waar
Name[ga]=Aimsir
Name[gd]=Aimsir
Name[gl]=Clima
Name[he]=מזג האוויר
Name[hr]=Vrijeme
Name[hu]=Időjárás
Name[id]=Cuaca
Name[is]=Veður
Name[it]=Meteo
Name[ja]=天気
Name[kk]=Ауа райы
Name[kn]=ಹವಾಮಾನ
Name[ko]=날씨
Name[lt]=Orai
Name[mjw]=Botor
Name[ml]=കാലാവസ്ഥ
Name[ms]=Cuaca
Name[nb]=Vær
Name[ne]=मौसम
Name[nl]=Weer
Name[oc]=Metèo
Name[pa]=ਮੌਸਮ
Name[pl]=Pogoda
Name[pt]=Meteorologia
Name[pt_BR]=Meteorologia
Name[ro]=Vreme
Name[ru]=Погода
Name[sk]=Počasie
Name[sl]=Vreme
Name[sr]=Време
Name[sr@latin]=Vreme
Name[sv]=Väder
Name[ta]=வானிலை
Name[te]=వాతావరణం
Name[tg]=Обу ҳаво
Name[th]=รายงานอากาศ
Name[tr]=Hava Durumu
Name[uk]=Погода
Name[vi]=Thời tiết
Name[zh_CN]=天气
Name[zh_HK]=天氣
Name[zh_TW]=天氣
Name=Weather
Comment[af]=Wys weerstoestande en voorspellings
Comment[an]=Amostrar as condicions meteorolochicas y o pronostico
Comment[ar]=اعرض حالة الطقس و النشرة الجوية
Comment[as]=বতৰৰ অৱস্থা আৰু পূৰ্বানুমান দেখুৱাওক
Comment[be]=Паказ прагнозаў і бягучага надвор'я
Comment[bg]=Показване на метеорологичното време и прогноза
Comment[bn_IN]=আবহাওয়ার পরিস্থিতি এবং পূর্বাভাস দেখান
Comment[bs]=Prikaži vremenske uslove i prognozu
Comment[ca]=Mostra les condicions actuals i la predicció meteorològica
Comment[ca@valencia]=Mostra les condicions actuals i la predicció meteorològica
Comment[ckb]=دۆخی کەش و هەوا پیشان بدە
Comment[cs]=Zobrazte si povětrnostní podmínky a předpověď počasí
Comment[da]=Vis vejrforhold og -udsigt
Comment[de]=Wetterberichte und -vorhersagen anzeigen
Comment[el]=Εμφάνιση συνθηκών καιρού και πρόβλεψης
Comment[en_GB]=Show weather conditions and forecast
Comment[eo]=Montras veterajn statojn kaj prognozojn
Comment[es]=Mostrar las condiciones meteorológicas y el pronóstico
Comment[et]=Ilmaolude ja ilmateate kuvamine
Comment[eu]=Erakutsi eguraldiaren egoera eta iragarpena
Comment[fa]=نمایش وضعیت و پیش‌بینی آب‌وهوا
Comment[fi]=Näytä säätiedot ja -ennuste
Comment[fr]=Affiche le temps qu’il fait et les prévisions
Comment[fur]=Mostre condizions e previsions meteo
Comment[fy]=Waaromstannicheden en waarfoarsizzingen sjen litte
Comment[ga]=Taispeáin staid agus réamhaisnéis na haimsire
Comment[gd]=Seall an aimsir an-dràsta agus ro-aithris
Comment[gl]=Mostrar as condicións e predicións do tempo
Comment[he]=הצגת תנאים ואת תחזית מזג האוויר
Comment[hr]=Pogledajte vašu lokalnu vremensku prognozu
Comment[hu]=Időjárási viszonyok és előrejelzés megjelenítése
Comment[id]=Tampilkan kondisi dan ramalan cuaca
Comment[is]=Birta veðurslýsingar og veðurspár
Comment[it]=Mostra condizioni e previsioni meteo
Comment[ja]=天気の概況と予報を表示します
Comment[kk]=Ауа рай күйін және болжамын көрсету
Comment[ko]=날씨와 일기 예보 보기
Comment[lt]=Rodyti orų sąlygas ir prognozes
Comment[mjw]=Botor pen palodep birta
Comment[ml]=കാലാവസ്ഥയുടെ നിഅയും പ്രവചനവും കാണിക്കുക
Comment[ms]=Tunjuk keadaan dan ramalan cuaca
Comment[nb]=Vis værforhold og værmelding
Comment[ne]=हालको मौसम अवस्था अनुगमन गर्दछ, र पूर्वानुमान गर्दछ
Comment[nl]=Weersomstandigheden en -verwachtingen tonen
Comment[oc]=Aficha lo temps que fa e las previsions
Comment[pa]=ਮੌਸਮ ਹਾਲਤ ਅਤੇ ਭਵਿੱਖਬਾਣੀ ਵੇਖੋ
Comment[pl]=Wyświetlanie warunków pogodowych i prognozy
Comment[pt]=Mostra as condições meteorológicas e previsões
Comment[pt_BR]=Mostra condições meteorológicas e previsão do tempo
Comment[ro]=Afișează prognoza și condițiile meteorologice
Comment[ru]=Показать погодные условия и прогноз
Comment[sk]=Zobrazuje poveternostné podmienky a predpoveď počasia
Comment[sl]=Spremljanje trenutnih vremenskih razmer in napovedi
Comment[sr]=Прикажите временске прилике и прогнозу
Comment[sr@latin]=Prikažite vremenske prilike i prognozu
Comment[sv]=Visar prognoser och väderförhållanden
Comment[ta]=வானிலை நிலவரம் மற்றும் முன்கணிப்பை காட்டு
Comment[te]=వాతావరణ పరిస్థితులను, సూచినలను చూపించు
Comment[tg]=Намоиш додани шароитҳо ва пешгӯии обу ҳаво
Comment[th]=แสดงสภาพอากาศและการพยากรณ์
Comment[tr]=Hava durumunu ve tahminleri göster
Comment[uk]=Показувати погодні умови і прогноз
Comment[vi]=Xem tình hình thời tiết và dự báo
Comment[zh_CN]=显示天气状况和天气预报
Comment[zh_HK]=顯示天氣狀況與氣象預報
Comment[zh_TW]=顯示天氣狀況與氣象預報
Comment=Show weather conditions and forecast
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Weather
Exec=gapplication launch org.gnome.Weather
DBusActivatable=true
StartupNotify=true
Categories=GNOME;GTK;Utility;Core;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=weer;voorspelling;
Keywords[an]=Pronostico;Orache;Meteorolochía;Clima;
Keywords[ar]=Weather;Forecast;الطقس;النشرة الجوية;
Keywords[be]=Weather;Надвор'е;Прагноз;
Keywords[bg]=време;прогноза;атмосфера;метеоролог;вали;дъжд;weather;forecast;
Keywords[bn_IN]=আবহাওয়া;পূর্বাভাস;
Keywords[bs]=Vrijeme;Prognoza;
Keywords[ca]=Meteorologia;Predicció;
Keywords[ca@valencia]=Meteorologia;Predicció;
Keywords[ckb]=کەش و هەوا؛پێشبینی؛
Keywords[cs]=předpověď;počasí;rosnička;
Keywords[da]=Vejr;Vejrudsigt;
Keywords[de]=Wetter;Vorhersage;
Keywords[el]=Καιρός;Πρόγνωση;Weather;Forecast;
Keywords[en_GB]=Weather;Forecast;
Keywords[eo]=Vetero;Prognozo;
Keywords[es]=Pronóstico;Tiempo;Meteorología;Clima;
Keywords[et]=Weather;Forecast;Ilm;Ilmaennustus;Ilmaprognoos;Ilmateade;
Keywords[eu]=Eguraldia;Iragarpena;
Keywords[fa]=Weather;Forecast;آب‌وهوا;پیش‌بینی;
Keywords[fi]=Weather;Forecast;Sää;Ennuste;Sääennuste;
Keywords[fr]=Météorologie;Prévisions;
Keywords[fur]=Timp;Previsions;Meteo;
Keywords[fy]=Weather;Waar;Forecast;Waarfoarsizzing;
Keywords[ga]=Aimsir;Réamhaisnéis;
Keywords[gd]=Weather;Forecast;aimsir;sìde;ro-aithris;
Keywords[gl]=Tempo;Clima;Meteoroloxía;Predición;
Keywords[he]=תחזית;מזג אוויר;תחזית שבועית;
Keywords[hr]=Vrijeme;Prognoza;
Keywords[hu]=Időjárás;Előrejelzés;
Keywords[id]=Cuaca;Prakiraan;Ramalan;
Keywords[is]=Veðurspá;Veðurspá;
Keywords[it]=Tempo;Previsioni;Meteo;
Keywords[ja]=Weather;Forecast;天気予報;天候;気象;
Keywords[kk]=Weather;Forecast;Ауа райы;Болжам;
Keywords[ko]=날씨;예보;일기;Weather;Forecast;
Keywords[lt]=Orai;Prognozė;
Keywords[mjw]=Botor;Palodep
Keywords[ml]=Weather;Forecast;
Keywords[ms]=Cuaca;Ramalan;
Keywords[nb]=Vær;Værmelding;
Keywords[ne]=मौसम;पूर्वानुमान;
Keywords[nl]=Weather;Weer;Forecast;Verwachtingen;
Keywords[oc]=Meteorologia;Previsions;
Keywords[pa]=ਮੌਸਮ;ਭਵਿੱਖਬਾਣੀ;
Keywords[pl]=Pogoda;Prognoza;Pogody;Temperatura;Deszcz;Śnieg;Opady;Chmury;Zachmurzenie;Wiatr;Warunki;Pogodowe;Weather;
Keywords[pt]=Tempo;Previsão;
Keywords[pt_BR]=Weather;Meteorologia;Forecast;Previsão;
Keywords[ro]=Weather;Forecast;Prognoză;Vreme;Vremea;
Keywords[ru]=Погода;Прогноз;
Keywords[sk]=počasie;predpoveď;
Keywords[sl]=vreme;napoved;ARSO;
Keywords[sr]=време;прогноза;Weather;Forecast;vreme;prognoza;
Keywords[sr@latin]=vreme;prognoza;
Keywords[sv]=Väder;Prognos;
Keywords[tg]=Пешгӯӣ;Обу ҳаво;
Keywords[th]=อากาศ;พยากรณ์;
Keywords[tr]=Hava;Tahmin;Öngörü;Hava Durumu;
Keywords[uk]=Погода;Прогноз;
Keywords[vi]=Weather;Forecast;Thời tiết;thoi tiet;Dự báo;du bao;
Keywords[zh_CN]=Weather;Forecast;天气;预报;
Keywords[zh_TW]=Weather;Forecast;天氣;氣象;
Keywords=Weather;Forecast;
X-Geoclue-Reason[af]=Laat toe dat weer inligting vir jou ligging getoon word.
X-Geoclue-Reason[ar]=يتيح عرض معلومات طقس مكانك الحالي.
X-Geoclue-Reason[be]=Дазваляе паказваць надвор'е для вашага месцазнаходжання.
X-Geoclue-Reason[bg]=Извеждане на метеорологична информация за текущото ви местоположение.
X-Geoclue-Reason[bn_IN]=আপনার অবস্থানের জন্য আবহাওয়ার তথ্য প্রদর্শিত হতে দেয়।
X-Geoclue-Reason[ca]=Permet que la informació meteorològica es mostri per la vostra ubicació.
X-Geoclue-Reason[ca@valencia]=Permet que la informació meteorològica es mostre per la vostra ubicació.
X-Geoclue-Reason[ckb]=ڕێگەدەدات زانیاری کەش و هەوا پیشانبدرێت بۆ شوێنەکەت.
X-Geoclue-Reason[cs]=Umožňuje zobrazit informace o počasí pro vaše místo.
X-Geoclue-Reason[da]=Tillader at vejrinformation bliver vist for din placering.
X-Geoclue-Reason[de]=Ermöglicht die Anzeige von Wetterinformationen für Ihren Ort.
X-Geoclue-Reason[el]=Επιτρέπει την εμφάνιση πληροφοριών καιρού για την τοποθεσία σας.
X-Geoclue-Reason[en_GB]=Allows weather information to be displayed for your location.
X-Geoclue-Reason[eo]=Ebligas la vidigon de veter-informoj por via loko.
X-Geoclue-Reason[es]=Permite mostrar la información sobre el tiempo de su ubicación.
X-Geoclue-Reason[et]=Võimaldab sinu asukoha ilmateate kuvamist.
X-Geoclue-Reason[eu]=Zure kokalekuko eguraldiari buruzko informazioa bistaratzea baimentzen du.
X-Geoclue-Reason[fa]=می‌گذارد اطّلاعات آب‌وهوا برای موقعیتتان نشان داده شود.
X-Geoclue-Reason[fi]=Sallii nykyisen sijaintisi säätietojen näyttämisen.
X-Geoclue-Reason[fr]=Permet d’afficher les prévisions météorologiques pour votre emplacement.
X-Geoclue-Reason[fur]=Al permet di mostrâ lis informazions meteo pe tô posizion.
X-Geoclue-Reason[fy]=Lit ynformaasje oer it waar sjen foar jo lokaasje.
X-Geoclue-Reason[gd]=Ceadaichidh seo gun dèid fiosrachadh na h-aimsire far a bheil thu a shealltainn.
X-Geoclue-Reason[gl]=Permítelle ver información do clima para a súa localización.
X-Geoclue-Reason[he]=מאפשר הצגת מידע על מזג האוויר באיזור שלך
X-Geoclue-Reason[hr]=Omogućuje prikaz vremenskih informacija za vašu lokaciju.
X-Geoclue-Reason[hu]=Lehetővé teszi az időjárási információk megjelenítését az Ön helyén.
X-Geoclue-Reason[id]=Mengijinkan ditampilkannya informasi cuaca untuk lokasi Anda.
X-Geoclue-Reason[is]=Gerir kleift að birta veðurupplýsingar fyrir staðinn þar sem þú ert.
X-Geoclue-Reason[it]=Consente di visualizzare informazioni meteo in base alla propria posizione.
X-Geoclue-Reason[ja]=現在地の気象情報を表示できるようにします。
X-Geoclue-Reason[kk]=Сіздің орналасуыңыз үшін ауа райын ақпаратын көрсетуді мүмкін етеді.
X-Geoclue-Reason[ko]=지금 있는 곳의 날씨 정보를 띄울 수 있게 합니다.
X-Geoclue-Reason[lt]=Leidžia rodyti jūsų vietovės orų informaciją.
X-Geoclue-Reason[mjw]=Nangli kedo adim botor abirta paklang long ma
X-Geoclue-Reason[ml]=താങ്കളുടെ സ്ഥാനത്തിന്റെ കാലാവസ്ഥാ വിവരം പ്രദർശിപ്പിക്കാൻ അനുവദിക്കുന്നു.
X-Geoclue-Reason[ms]=Membenarkan maklumat cuaca dipaparkan mengikut lokasi anda.
X-Geoclue-Reason[nb]=Viser informasjon om været på stedet du befinner deg.
X-Geoclue-Reason[ne]=तपाईंको स्थानको लागि मौसम जानकारी प्रदर्शन गर्न अनुमति दिन्छ।
X-Geoclue-Reason[nl]=U kunt weerinformatie voor uw locatie bekijken.
X-Geoclue-Reason[oc]=Permet d'afichar las previsions meteorologicas per vòstre emplaçament.
X-Geoclue-Reason[pa]=ਆਪਣੇ ਟਿਕਾਣੇ ਲਈ ਮੌਸਮ ਦੀ ਜਾਣਕਾਰੀ ਦਿਖਾਉਣ ਦੀ ਇਜਾਜ਼ਤ ਦਿਓ।
X-Geoclue-Reason[pl]=Umożliwia wyświetlanie informacji o pogodzie dla położenia użytkownika.
X-Geoclue-Reason[pt]=Permite que a informação do tempo da sua localização seja visualizada.
X-Geoclue-Reason[pt_BR]=Permite que informações meteorológicas sejam exibidas para sua localização.
X-Geoclue-Reason[ro]=Permite informațiilor despre vreme să fie afișate pentru locația dumneavoastră.
X-Geoclue-Reason[ru]=Позволяет показывать информацию о погоде для вашего местоположения.
X-Geoclue-Reason[sk]=Umožňuje zobrazenie informácií o počasí pre vaše umiestnenie.
X-Geoclue-Reason[sl]=Dovoli prikazovanje podrobnosti o vremenu za nastavljena mesta
X-Geoclue-Reason[sr]=Омогућава приказивање података о временским приликама за ваше место.
X-Geoclue-Reason[sr@latin]=Omogućava prikazivanje podataka o vremenskim prilikama za vaše mesto.
X-Geoclue-Reason[sv]=Möjliggör för väderinformation att visas för din plats.
X-Geoclue-Reason[tg]=Барои намоиш додани вазъи обу ҳавоии ҷойгиршавии шумо иҷозат медиҳад.
X-Geoclue-Reason[th]=แสดงข้อมูลสภาพอากาศสำหรับพื้นที่ที่คุณอยู่
X-Geoclue-Reason[tr]=Konumunuz için hava durumu bilgisinin görüntülenmesine izin verir.
X-Geoclue-Reason[uk]=Дозволяє показувати відомості про погоду для вашої місцевості.
X-Geoclue-Reason[vi]=Cho phép thông tin thời tiết được hiển thị cho địa phương của bạn.
X-Geoclue-Reason[zh_CN]=允许显示你当前位置的天气信息。
X-Geoclue-Reason[zh_TW]=允許顯示您所在位置的天氣資訊。
X-Geoclue-Reason=Allows weather information to be displayed for your location.
# Translators: Do NOT translate or transliterate this text (these are enum types)!
X-Purism-FormFactor=Workstation;Mobile;
