[Desktop Entry]
Name=Pantheon: Rise of the Fallen
Comment=Play this game on Steam
Exec=steam steam://rungameid/3107230
Icon=steam_icon_3107230
Terminal=false
Type=Application
Categories=Game;
